<div class="container">
    
    <div class="col-md-12">
        <div class="row">
            <div id="title-box">
                <h2 id="title-text">bAdvice</h2>
            </div>
            <button class="btn" id="new-question">New Question</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>Questions!</h2>
                <ul class="list-group">
                {{#each questions}}
                        <li class="list-group-item burger-list-item">
                            <h3><a href="questions/{{id}}">{{title}}</a></h3>
                            <p>{{text}}</p>
                        </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div id="new-question-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/questions" method="post">
                <div class="modal-body">
                    <div>
                        <label for="title">title?</label>
                        <input name="title" id="title">
                    </div>
                    <div>
                        <label for="text">text?</label>
                        <input name="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#new-question").on("click", function (event) {
        event.preventDefault();
        $('#new-question-modal').modal('show');
    });
</script>