html, body {
    margin: 0;
    height: 100%;
}

.navbar, .modal-header {
    background-color: firebrick;
    border-bottom: 2px solid grey;
}

a {
    color: black;
}

.flex-column {
    position: fixed;
}

li {
    margin: 5px;
}

.no-margin {
    margin-bottom: 0;
}

.list-group-item {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.list-group-item:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

#main-logo {
    height: 100px;
}

.userfield {
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.userfield a {
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.userfield a:hover {
    color: #5b90ca;
    text-shadow: 1px 1px 1px #000000;
}

#new-question {
    /* width: 100%; */
    margin-top: 25px;
    background-color: #b22222;
    border-color: #b22222;
}

#new-question:hover {
    background-color: #841818;
    border-color: #841818;
}